name: Server

'on':
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: 'postgres:10.10'
        env:
          POSTGRES_USER: username
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test-database
        ports:
          - '5432:5432'
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s
          --health-retries 5
      redis:
        image: 'redis:latest'
        ports:
          - '6379:6379'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Install
        run: npm install
      - name: Test
        run: npm run test
        env:
          DB_USER: username
          DB_PASS: password
          TEST_DB_NAME: test-database
          SECRET_KEY: '1yh6^rf!0*$3xp*q$qfnxnp#w-nve4l!#r0xo46g5vi7hvya5h'
